/* Portrait orientation */
@media screen and (max-width: 360px) and (max-height: 640px) and (orientation: portrait) {
  #homeContentPojects #textEng {
    scroll-snap-type: none !important;
    overflow: auto;
    height: 100%;
  }
}

/* Landscape orientation */
@media screen and (max-width: 640px) and (max-height: 360px) and (orientation: landscape) {
  #homeContentPojects #textEng {
    scroll-snap-type: none !important;
    overflow: auto;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;

}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #84ff0f;
  border: solid 3px transparent;
}

body {
  font-family: OCR A Std, monospace;
  font-size: 17px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  width: 100%;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 5px #000, 0 0 10px #000;

}

html {
  overflow-x: auto;
}

hr {
  background-color: #84ff0f;
  box-shadow: 0 0 3px #84ff0f;
  height: 2px;
}

/* .imageDescription {
  display: flex;
} */
.tools {
  display: flex;
  /*             justify-content: center; */
}

.svgText {
  display: flex;
  border: solid 3px#84ff0f;
  box-shadow: 0 0 10px #84ff0f, 0 0 20px #84ff0f;
  /* height: 80px; */
  border-radius: 40px;
  margin-right: 10px;
  align-items: center;
  background-color: #001d15;
}

.first {
  margin-left: auto;

}

.last {
  margin-right: auto;

}

.text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 20px;
  /* height: 50px; */
}

.title {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  display: grid;
}

.typing-container {
  text-align: center;
  font-size: 25px;
  height: 65px;
  margin-top: 10px;
}

/* .logo, .text {
            display: inline-block;
        } */
.logo {
  width: auto;
  height: 4vh;
  margin-top: auto;
  margin-bottom: auto;
  padding: 6px;
}

.icon-microchip {
  width: auto;
  /*             height: 20px; */
  margin-top: 3px;
  margin-bottom: auto;
  padding: 5px;
  font-size: 3vh;
  /* margin: auto; */


}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2') format('woff2'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1200px) and (orientation: landscape) and (pointer: coarse) {

  .main #displayed-image {
    height: 200px;
    width: auto;
  }




  .main #displayed-image {
    height: 250px;
    width: auto;
  }

  .svgText .devicon-socketio-original {
    font-size: 20px;
    /* padding: 7px; */
  }

  #homeContentPojects #textEng {
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: calc(100vh - 56px);
  }

  ::-webkit-scrollbar {
    width: 0px;

  }

  .main .Pol {
    width: 75px;

  }

  .main .Eng {
    width: 90px;

  }

  .main .description {
    /*     overflow: auto; */
    height: auto;
  }

  .main .projectImg:not(#oringImg) {
    width: 23vw;
    height: auto;
  }

  .main #oringImg {
    width: 8vw;
    height: auto;
    margin-bottom: 10px;
  }

  .main .tables {
    width: 60%;
  }

}

@media only screen and (pointer: coarse) and (orientation: portrait) {
  .menu #visits {
    display: none;
  }

  .mail .fas.fa-envelope {
    display: none;
  }

  .menu #lang {
    display: none;
  }

  .menu .mail {
    display: flex;
    position: absolute;

    top: 14px;
    /* transform: translateY(-50%); */
    left: 65%;
    color: #84ff0f;
    font-size: 11px;
  }

  .tables:not(#Ctables) {
    display: flex;
    flex-direction: column;
    /*   justify-content: flex-start; */
    /*   margin-top: 10px; */
    justify-content: center;
    align-items: center;
    /* margin-bottom: 7px; */
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .main .projectImg {
    height: auto;
    /* Set a maximum height of 100 viewport height units */
    width: 50vw;
  }



  .main #displayed-image {
    height: 200px;
    width: auto;
  }

  .main .svgText {
    display: flex;
    border: solid 3px #84ff0f;
    box-shadow: 0 0 10px #84ff0f, 0 0 20px #84ff0f;
    border-radius: 40px;
    margin-left: 0;
    margin-right: 0;

  }

  .svgText .devicon-socketio-original {
    font-size: 30px;
    padding: 7px;
  }

  .main .first {
    margin-left: auto;
    margin-right: auto;
  }

  .last {
    margin-right: auto;
    margin-left: auto;
  }

  .main .mainContent #homeContent {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .tools {
    display: inline-flex;
    /*     margin-bottom: 5px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .main .svgText {
    margin-bottom: 10px;
    border: solid 2px #84ff0f;
    box-shadow: 0 0 10px #84ff0f, 0 0 20px #84ff0f;
    background-color: #001d15;
  }

  ::-webkit-scrollbar {
    width: 0px;

  }

  .main .Pol {
    width: 75px;

  }

  .main .Eng {
    width: 90px;

  }

  .menu #lang {
    position: relative;
    width: 45px;
    padding: 0;
    /* background-color: rgb(128,128,128, 0.9); */
    /* height: 54px; */

  }

  .main #textPol {
    text-align: left !important;
    overflow-x: hidden;
    /*     font-size: 30px; */
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
  }

  .menu .visits {
    font-size: 20px;
    /* Ensure this value is correctly set */
    white-space: normal;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .menu #visits {
    font-size: 20px;
  }

  .menu #aboutMe {
    margin: 0;
    padding: 0;
    border: none;
  }

  .main .longerprojectTitle {
    height: 90px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .main .longprojectTitle {
    height: 80px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    display: grid;
  }

  .menu #visitEng,
  #visitPol {
    position: absolute;
    font-size: 12px;
    /* width: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
  }

  .menu #visits {
    position: relative;
    height: 54px;
    width: 60px;
    margin-left: auto;
    /* background-color: rgb(128, 128, 128, 0.9); */
  }

  .main #textEng {
    text-align: left !important;
    overflow-x: hidden;

  }

  .menu #aboutMe {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* Ensure no gaps or unexpected padding/margins */
  .menu {
    gap: 0;
    padding: 0;
    margin: 0;
  }
}

/* .main .description {
    overflow: auto;
    height: auto;
  } */

.main .tables {
  font-size: 13px;
  min-width: 100%;
  overflow: auto;
  /*     padding: 10px; */
  gap: 10px;
}

/* .projectTitle {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  min-height: 20px; /* Optional: Ensures a minimum height, but allows it to grow */
/*   height: auto; /* Let the height be determined by the content */
*/

/* } */
/*   .main .engTitle, .polTitle {
    margin-right: 10px;
    text-align: left;
  } */
.main .border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .Eng {
  position: relative;

  min-width: 90px;
  white-space: nowrap;
  min-height: 20px;

}

.main .Pol {
  position: relative;

  min-width: 80px;
  white-space: nowrap;
  min-height: 20px;

}

}

@media (max-device-width: 1200px) {

  .menu .homeLink .services,
  .about #pageviews-count {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-decoration: none;
    color: rgb(9, 68, 29);
    height: 60px;

  }

  /*   .projectTitle {
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       height: auto; /* Allow the height to adjust based on the content */
  /*        min-height: 20px; /* Ensure it has a minimum height */
}

*/ .hidden {
  display: none;
  user-select: text;

}

/*    .projectTitle {
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       height: auto; /* Allow the height to adjust based on the content */
/*        min-height: 20px; /* Ensure it has a minimum height */
}

*/ .menu .dropdown .dropdown-content {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.7s;
  z-index: 10;
}

.menu #visits {
  position: relative;
  height: 54px;
  width: 70px;
  margin-left: auto;
  /* background-color: rgb(128, 128, 128, 0.9); */
}

.menu .dropdown .hidden {
  max-height: 0;
  overflow: hidden;
}

.menu .homeLink .services,
.visits #pageviews-count {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-decoration: none;
  color: black;
  height: 60px;

}

.hidden {
  display: none;
}

.menu .dropdown .dropdown-content.services {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.7s;
  transition: max-height 0.7s;
  z-index: 10;
}

.menu .dropdown .hidden {
  max-height: 0;
  overflow: hidden;
}

.main .mainContent #homeContent {
  overflow: auto;
  /* Enable both vertical and horizontal scrolling if needed */
  height: 100%;
  /* Take up 100% of the parent's height */
  width: 100%;
  /* background-color: rgba(176,196,222, 0.8); */
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#homeContentPojects {
  overflow: auto;
  /* Enable both vertical and horizontal scrolling if needed */
  height: 100%;
  /* Take up 100% of the parent's height */
  width: 100%;
  /* background-color: rgba(176,196,222, 0.8); */
  border-radius: 10px;
  font-weight: bold;
  position: relative;
}

.content .menu #aboutMe {
  margin-left: 0;
}

.menu #pol,
#eng {
  width: 45px;
  height: 30px;
  /*     object-fit: contain; */
  /*     margin-left: 20px; */
}

/*   .content .menu #lang {
    margin-right: 3px;
    padding: 0;
  } */

/*   .menu #pol, #eng {
    margin-right: 10px;
  } */
.menu .visits {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #84ff0f;
  height: 54px;
  /*     padding-left: 10px; */
  padding-right: 3px;
  border-bottom: 2px solid #84ff0f;
  box-sizing: border-box;
}

.menu #visits {
  position: relative;
  height: 54px;
  /*     width: 600px; */
  margin-left: auto;
  /* background-color: rgb(128, 128, 128, 0.9); */
  /*     text-align: center; */
}

.menu #visits::first-word {
  display: block;
}

.menu #visits::last-word {
  display: block
}

.main .border {
  background: transparent;
  min-height: 20px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
  padding: 2px;
  border: solid 3px#84ff0f;
  box-shadow: 0 0 5px #84ff0f;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001d15;
}

/* .main .tech, .linkEng, .gitEng {
    margin-right: 5px;
  } */

/* .main .description {
    width: 100%;
  } */
}

@media only screen and (min-device-width: 900px) {

  /* .menu ul li a:hover {
    background-color: #555;
  } */
  .menu div {
    margin: 0;
    padding: 0;
  }

  /*   .main .projectTitle {
    height: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  } */

  .menu .dropdown:hover .dropdown-content,
  .dropdown-content:hover {
    max-height: 1000px;
    /* Adjust this value based on your dropdown's height */
    transition: max-height 0.7s;
    z-index: 10;
  }

  /*   .menu .dropdown-content a:hover {
    background-color: #555;
  } */
}

#viewer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Take up 100% of the parent's height */
  width: 100%;
  /* Adjust this value based on your needs */
  padding: 20px;
  z-index: 1;
  background: transparent;

}

.view {
  height: auto;
  /* Take up 100% of the parent's height */
  width: auto;
}

.icon-user {
  font-style: normal;
}

#aboutMe {
  position: relative;
  height: 54px;
  min-width: 95px;
  text-align: center;
  margin-left: 50px;
  margin: 0;
  /*   padding-right: 10px; */
}

/* #aboutMe:hover {
  background-color: #555;
} */
#engAbout,
#polAbout {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #84ff0f;
  transition: opacity 0.5s ease, visibility 0.5s ease, font-size 0.3s ease;

}

#engAbout:hover,
#polAbout:hover {
  font-size: 20px;
}

#projects {
  position: relative;
  transition: font-size 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #84ff0f;
  width: 100px;
  height: 54px;
}

#projects:hover {
  font-size: 20px;
}
}

#projectsEng,
#projectsPol {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toggle-element {
  opacity: 0;
  display: hidden;
  grid-area: 1/1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  /* Adjust the duration and easing function as needed */
}

.visible {
  opacity: 1;
  visibility: visible;
  z-index: 1;

}

/* #home:hover, #service1:hover, #service2:hover, #service3:hover, #engAbout:hover, #polAbout:hover, #lang:hover, #projects:hover {
  background-color: #555;
} */
#aboutMe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
}

.org {
  border: none;
}

.homeLink,
#lang {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-decoration: none;
  color: black;
  border-bottom: solid #84ff0f 2px;

  /*   padding-left: 10px;
  padding-right: 10px; */
  position: relative;
}

.services {
  position: absolute;
}

.visits {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-decoration: none;
  color: black;
  height: 54px;
  /*   padding-left: 10px; */
  padding-right: 3px;


}

#visits {
  position: relative;
  height: 54px;
  width: 150px;
  margin-left: auto;
  /* background-color: rgb(128, 128, 128, 0.9); */
  white-space: nowrap;
}

#visitEng,
#visitPol {
  position: absolute;
}

#pageviews-count {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-decoration: none;
  color: black;
  height: 60px;
}

/* .bg {
  background-color: white;
} */
/* .homeLink:hover,
.services:hover {
  background-color: #555;
} */
.services {
  user-select: none;
}

.menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  /* Set the font color to black */
  height: 54px;
  margin: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  z-index: 1;

}

.filler {
  flex-grow: 1;
}

.submenu {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 140px;
  height: 54px;

  z-index: -1;
  border-top-left-radius: 20px;
}

.submenu1 {
  position: absolute;
  top: 3px;
  left: 100px;
  width: 130px;
  height: 54px;

  z-index: -1;
}

.dropdown {
  position: relative;
  /* background-color: rgb(128, 128, 128, 0.9); */

  z-index: 10;
}

.dropdown .dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #001d15;
  min-width: auto;
  white-space: nowrap;
  z-index: 10;
  top: 100%;
  /* Position the dropdown-content below the menu item */
  left: calc(-50% + 10px);
  /* Align the left edges */
  transition: max-height 0.7s;

}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #84ff0f;
  text-decoration: none;
  width: auto;
}



.code {
  position: absolute;
  left: 0;
  /* Set the left position (horizontal) */
  top: 3px;
  z-index: -1;
  width: calc(100% - 6px);
  height: calc(100vh - 3px);
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 20px;
  object-fit: cover;
}

.main {
  height: calc(100vh - 60px);
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Adjust this value based on your needs */
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}

/* #center {
  height: 100%; /* Take up 100% of the parent's height */
width: 100%;
/*   margin: auto; */
}

*/ #homeContent {
  overflow: auto;
  /* Enable both vertical and horizontal scrolling if needed */
  height: 100%;
  /* Take up 100% of the parent's height */
  width: 100%;
  background-color: rgba(176, 196, 222, 0.8);
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eng,
#pol,
#textEng,
#textPol {
  position: absolute;
}

.icon-user,
.icon-group,
.icon-list-altm,
.fas {
  margin: 4px;
}



#Ctables {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

}


.border {
  background: transparent;
  height: 36px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 2px;
  border: solid 3px #84ff0f;
  box-shadow: 0 0 5px #84ff0f;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 15px; */
  width: auto;
  font-size: 1.2rem;
}

.downloadContainer {
  color: white;
}

#textEng {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  /* height: auto; */
  /* overflow: auto; */
  scroll-snap-align: start;
  min-height: calc(100vh - 56px);
  justify-content: space-evenly;
}

/* .imageDescription {
  display: flex;
  flex-direction: row;
} */

.imageTables {
  display: flex;
  flex-direction: column;
}

.image {


  float: left;
}

.projectImg {

  /* width: auto; */
  height: auto;
  /* width: 50vw; */
  float: left;
  display: block;
  /* Prevents extra space below inline-block images */
  border: 2px solid #84ff0f;
  border-radius: 10px;
  position: sticky;
  margin-right: 10px;
}

.projectImg:hover+.enlarge-icon {
  /* border: 2px solid white; */
  box-shadow: 0 0 20px #84ff0f, 0 0 20px #84ff0f;
  /* border-radius: 10px; */
}

.git,
.link,
.tech {
  position: relative;
  white-space: normal;
  word-break: break-word;
  /* Break words if needed */
  border-radius: 15px;
  text-align: center;

}

.descriptionEng,
.descriptionPol {
  grid-area: 1/1;
  user-select: text;
  font-size: 20px;
}

.borderContent {
  margin-right: 4px;
}

#displayed-image:not(.oring) {
  width: 900px;
  height: auto;
}

#displayed-image:hover+.reduce-icon {
  box-shadow: 0 0 10px #84ff0f, 0 0 20px #84ff0f;
}

/* .projectTitle {
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       height: auto; /* Allow the height to adjust based on the content */
/*        min-height: 20px; /* Ensure it has a minimum height */
*/
/*    } */
*/

/* .engTitle, .polTitle {
  position: absolute;
} */
.Eng {
  position: relative;

  width: 85px;
  white-space: nowrap;
  min-height: 20px;

}

.Pol {
  position: relative;

  width: 70px;
  white-space: nowrap;
  min-height: 20px;

}

.downloadEng,
.downloadPol {
  position: absolute;
}

#eng,
#pol {
  width: 45px;
  height: 30px;
  border: 2px solid transparent;

}

#eng:hover {
  border: 2px solid #84ff0f;
}

#pol:hover {
  border: 2px solid #84ff0f;
}

.aboutLeft {
  width: 20px;
  border-top-left-radius: 20px;
  /* background-color: rgb(128, 128, 128, 0.9); */
  border-bottom: 2px solid #84ff0f;
}

.rightCorner {
  width: 20px;
  border-top-right-radius: 20px;
  /* background-color: rgb(128, 128, 128, 0.9); */
  border-bottom: solid 2px #84ff0f;

}

.tooltip-textEng,
.tooltip-textPol {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 4;
}

/* #lang {
  background-color: #808080;
  
  
} */

.menu div {
  margin: 0;
  padding: 0;
}

.menu div {
  gap: 0;
}

.submenu1 {
  width: 250px;
}

.filler {
  flex-grow: 1;
}

.projectTitle {
  /* height: 20px; */
  padding: 10px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  font-size: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 5px;
  border: solid 3px #84ff0f;
  box-shadow: 0 0 5px #84ff0f;
  /* margin: 10px auto 10px auto; */
  font-size: 1.4rem;
  text-align: center;
}

.longprojectTitle {
  /*   height: 50px; */
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: grid;
  justify-content: center;
  font-size: 20px;

}

#sql {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: grid;
  font-size: 20px;

}

.longerprojectTitle {
  /*   height: 70px; */
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: grid;
  justify-content: center;
  font-size: 20px;
}

.engTitle,
.polTitle {
  /*   position: absolute; */
  grid-area: 1/1;
  text-align: center;
}

#lang {
  position: relative;
  width: 45px;
  padding-left: 60px;
  /* background-color: rgb(128, 128, 128, 0.9); */
  /*   height: 54px; */
}

.border:not(.not):hover {
  background-color: rgba(132, 255, 15, 0.5);
}

.menu .dropdown:hover .dropdown-content {
  max-height: 300px;
  /* Adjust based on your dropdown size */
  /*   overflow: auto; /* Ensure scroll if content exceeds max-height */
  */ */ transition: max-height 0.7s ease;
}

.service:hover {
  /* background-color: rgba(132, 255, 15, 0.5); */
  box-shadow: inset 0 0 10px #84ff0f;

}

@media (hover: hover) and (pointer: fine) {
  .svgText .devicon-socketio-original {
    font-size: 28px;
    /* padding: 7px; */
  }

  #center .mail {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #84ff0f;
  }

  .mailP {
    display: none !important;
  }

  .project .projectTitle {
    font-size: clamp(1rem, 4vh, 2rem);
  }

  .tech .border,
  .linkEng .border,
  .gitEng .border,
  .downloadContainer .border {
    font-size: 1.5rem;
    padding: 5px;
  }

  .tables:not(#Ctables) {
    display: flex;
    flex-direction: row;
    /*   justify-content: flex-start; */
    /*   margin-top: 10px; */
    max-width: 45%;
    /* margin-bottom: 7px; */
  }

  .border .Eng {
    width: 110px;
  }

  .border .Pol {
    width: 95px;
  }

  .main .tables {
    justify-content: center;
  }

  #homeContentPojects #textEng {
    /* text-align: justify; */
    overflow-x: hidden;

  }

  .imageDescription .description {
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: clamp(1rem, 4vh, 2rem);
  }

  .image .projectImg:not(#oringImg) {
    width: 35vw;
    height: auto;
  }

  #oringImg {
    width: auto;
    height: 400px;
  }

  .oring {
    height: 80vh;
    width: auto;
  }
}

@media (pointer: coarse) {
  .border .Eng {
    width: 98px;
  }

  .border .Pol {
    width: 85px;
  }
}

.description.fade-out {
  opacity: 0;
}

.imageDescription {
  position: relative;
}

.description {
  transition: opacity 0.3s ease;
  opacity: 1;
  /*     font-size: clamp(1rem, 4vh, 2rem);; */
}

.mail {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #84ff0f;
}

#chatbot {
  padding-right: 10px;
  color: #84ff0f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border-bottom: 2px solid;
}

.image,
#image-viewer {
  position: relative;
}

.enlarge-icon,
.reduce-icon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 2.5rem;
  color: #84ff0f;
  pointer-events: none;
  /* set to 'auto' if the icon should be clickable */
}

/* main.css | http://localhost:3000/public/css/main.css */